<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
    Chat
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Chat</ion-title>
    </ion-toolbar>
  </ion-header>
  <h1 *ngIf="titleVisible">{{title}}</h1>
  <h2 *ngIf="titleVisible">{{subTitle}}</h2>

  <div id="output-area">
  </div>
  <div id="input-area">
  </div>



  <button (click)="sendMessage()">Send</button>

  <app-explore-container name="Tab 2 page"></app-explore-container>
</ion-content>
