<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      About Us
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">About</ion-title>
    </ion-toolbar>
  </ion-header>

  <div>
    <ion-list>
      <ion-item>
        Dies ist das erste Angular und Ionic Projekt von Magdalena Holczik.
      </ion-item>
      <ion-item>
        Version V 1.0.0
      </ion-item>
      <ion-item>
        Für den Inhalt verantwortlich:
        Magdalena Holczik
      </ion-item>
      <ion-item>
        Kontakt: pa21l009@technikum-wien.at
      </ion-item>
    </ion-list>
  </div>
  <img src="./assets/logo.jpeg" style="max-height: 300px; padding: 12px" alt="Portrait of Magdalena Holczik">

  <app-explore-container name="Tab 3 page"></app-explore-container>
</ion-content>
