<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      About Us
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">About</ion-title>
    </ion-toolbar>
  </ion-header>
  <div>
    Dies ist das erste Angular und Ionic Projekt von Magdalena Holczik.
  </div>
  <div>
    Version V 1.0.0
  </div>
  <div>
    Impressium: Magdalena Holczik
    Kontakt: pa21l009@technikum-wien.at
  </div>
  <img src="./assets/logo.jpeg" style="max-height: 300px; padding: 12px">



  <app-explore-container name="Tab 3 page"></app-explore-container>
</ion-content>
